@import './constants.css';
@import './Board/Control/StockfishReplies.css';

html,body {
  margin: 0;
  padding: 0;
}

.App {
  display: grid;
  place-content: center;
  height: 100vh;
  background: var(--bg-color);
  grid-template-columns: 200px auto 220px;
  grid-template-rows: 1fr;
}

button {
  background: var(--dark-tile);
  color: var(--light-tile);
  border: 0 none;
  padding: 10px 30px;
  margin: 10px 0;
  font-size: 1.1em;
}

